<html>
<head>
<style type="text/css">

<meta name="viewport" content="width=320" />


.breadcrumbs {display:none;}
.article_tools{display:none;}
.wide_google_ads{display:none;}
.dropemail{display:none}
p { color: black;}

a {color: blue;}

</head> 
</style>